/*---------------------------------------------------
----------------------deckstop-----------------------
-------------------------------------------------*/

@media screen and (min-width: 1024px) {
    .principal-display {
      height: 600px;
    }
  
    header {
      img {
        left: 42%;
      }
    }
  
    .menu {
      display: flex;
      justify-content: space-around;
    }
  
    footer {
      display: flex;
      height: 100px;
      ul {
        display: flex;
        .footer-link {
          margin-right: 100px;
        }
      }
    }
  }
  