/* Spinner 1 */
.spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 6px solid lightgray;
  border-top-color: $rose;
  border-bottom-color: $purple;
  animation: spinner 4s linear both;
  z-index: 999999;
  animation-duration: 0.5s;
}

.body {
  animation: body 0s both;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
}
